body {
	font-size: 80%;
}

table {
	font-size: 1em;
}

/* Site
   -------------------------------- */

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

/* ############################## */
#backlog { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	zoom: 1; 
}

#backlog li { 
	margin: 0 5px 5px 5px; 
	padding: 3px; 
	width: 1000px; 
}

/* ############################## */
.slide { 
	border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
	background: #e6e6e6; 
	font-weight: normal; 
	color: #333333; 
}

.slide_head { 
	border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
	background-color: #CCD3FD; 
	color: #333333;
	background-image: none;
}

/* ################## */
.task {
	overflow: hidden;
}
/*
.t_id {
	width: 70px; 
	float: left; 
}
*/
.t_project {
	width: 70px; 
	float: left; 
}
.t_message {
	width: 740px; 
	float: left; 
	padding: 0px 5px 0px 5px;
}
.t_stakeholder {
	width: 140px; 
	float: left; 
	padding: 0px 5px 0px 5px;
}
.t_time {
	width: 30px; 
	float: right; 	
}