// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 80%;
}

table {
	font-size: 1em;
}

/* Site
   -------------------------------- */

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

/* ############################## */
#tasks {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	zoom: 1; 
}

#tasks li { 
	margin: 0 5px 5px 5px; 
	padding: 3px; 
	width: 1000px; 
}

/* ############################## */
.task { 
	border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
	background: #e6e6e6; 
	font-weight: normal; 
	color: #333333; 
}

#task_1, #task_2, #task_3, #task_4, #task_5 { 
	border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
	background-color: #CCD3FD; 
	color: #333333;
	background-image: none;
}

/* ################## */
.slide {
	overflow: hidden;
}
.handler {
	width: 45px;
	float: left;
	cursor: move;
	color: #777;
}

.t_project {
	width: 65px; 
	float: left; 
}
.t_message {
	width: 700px; 
	float: left; 
	padding: 0px 5px 0px 5px;
}
.t_stakeholder {
	width: 140px; 
	float: left; 
	padding: 0px 5px 0px 5px;
}
.t_time {
	width: 30px; 
	float: right; 	
}